<div class="container">
  <h1>Opening Hours</h1>
  <div class="table-responsive">
    <table class="table table-borderless">
      <tbody>
        <tr *ngFor="let opening of openings">
          <td class="td-right-align">{{opening.days}}</td>
          <td class="td-left-align">{{opening.times}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
