<ul>
  <li><a routerLink="/routeguards/canactivate">Can Activate</a></li>
  <li><a routerLink="/routeguards/candeactivate">Can Deactivate</a></li>
</ul>
<hr>
<h2>To display navigated components</h2>
<router-outlet></router-outlet>
