<h1>{{title}}</h1>
<hr>
<!-- Up to the end of section  3 -->
<!-- <fieldset>
  <label for="firstname">First name: </label>
  <input type="text" id="firstname" name="firstname" [formControl]="firstname">
</fieldset>
<fieldset>
  <label for="surname">Surname: </label>
  <input type="text" id="surname" name="surname" [formControl]="surname">
</fieldset>
<fieldset>
  <label for="age">Age: </label>
  <input type="number" id="age" name="age" [formControl]="age">
</fieldset>
<fieldset>
  <label for="gender">Gender: </label>
  <select name="gender" id="gender" [formControl]="gender">
    <option *ngFor="let gender of genders" [value]="gender">{{gender}}</option>
  </select>
</fieldset>
<button type="submit">Submit</button>
<hr>
<section>
  <p>Firstname: {{firstname.value}}</p>
  <p>Surname: {{surname.value}}</p>
  <p>Age: {{age.value}}</p>
  <p>Gender: {{gender.value}}</p>
</section> -->

<!-- From section 4 onwards -->
<form [formGroup]="userForm">
  <fieldset>
    <label for="firstname">First name: </label>
    <input type="text" id="firstname" name="firstname" formControlName="firstname">
  </fieldset>
  <fieldset>
    <label for="surname">Surname: </label>
    <input type="text" id="surname" name="surname" formControlName="surname">
  </fieldset>
  <!-- Added in section 7 -->
  <fieldset formGroupName="address">
    <label for="houseNo">House Number: </label>
    <input type="text" name="houseNo" id="houseNo" formControlName="houseNo">
    <label for="street">House Number: </label>
    <input type="text" name="street" id="street" formControlName="street">
    <label for="city">House Number: </label>
    <input type="text" name="city" id="city" formControlName="city">
    <label for="postcode">House Number: </label>
    <input type="text" name="postcode" id="postcode" formControlName="postcode">
  </fieldset>
  <fieldset>
    <label for="age">Age: </label>
    <input type="number" id="age" name="age" formControlName="age">
  </fieldset>
  <fieldset>
    <label for="gender">Gender: </label>
    <select name="gender" id="gender" formControlName="gender">
      <option *ngFor="let gender of genders" [value]="gender">{{gender}}</option>
    </select>
  </fieldset>
  <button type="submit">Submit</button>
</form>
<hr>
<section>
  <p>Firstname: {{userForm.value.firstname}}</p>
  <p>Surname: {{userForm.value.surname}}</p>
  <!-- Section 7 -->
  <p>House Number: {{userForm.value.address.houseNo}}</p>
  <p>Street: {{userForm.value.address.street}}</p>
  <p>City: {{userForm.value.address.city}}</p>
  <p>Postcode: {{userForm.value.address.postcode}}</p>
  <p>Age: {{userForm.value.age}}</p>
  <p>Gender: {{userForm.value.gender}}</p>
</section>
