<nav>
  <ul>
    <li><a routerLink="/" routerLinkActive="active happy" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
    <li><a routerLink="/page1" routerLinkActive="active happy">Page 1</a></li>
    <li><a routerLink="/page2" [routerLinkActive]="activeClasses">Page 2</a></li>
    <li><a routerLink="/not-a-route" routerLinkActive="active">404 route</a></li>
    <li><a routerLink="/todo" routerLinkActive="active">Todo</a></li>
  </ul>
</nav>

<router-outlet></router-outlet>
