<h1>{{title}}</h1>
<hr>
<fieldset>
  <label for="firstname">First name: </label>
  <input type="text" id="firstname" name="firstname">
</fieldset>
<fieldset>
  <label for="surname">Surname: </label>
  <input type="text" id="surname" name="surname">
</fieldset>
<fieldset>
  <label for="age">Age: </label>
  <input type="number" id="age" name="age">
</fieldset>
<fieldset>
  <label for="gender">Gender: </label>
  <select name="gender" id="gender">
    <option *ngFor="let gender of genders" [value]="gender">{{gender}}</option>
  </select>
</fieldset>
<button type="submit">Submit</button>
<hr>
<section>
  <p>Firstname: </p>
  <p>Surname: </p>
  <p>Age: </p>
  <p>Gender: </p>
</section>
