<app-cinema-header></app-cinema-header>
<app-cinema-home></app-cinema-home>
<app-cinema-schedule></app-cinema-schedule>
<app-cinema-sign-up></app-cinema-sign-up>
<app-cinema-footer></app-cinema-footer>

