<div class="container">
  <h1>Opening Hours</h1>
  <div class="table-responsive">
    <table class="table table-borderless">
      <tbody>
        <tr *ngFor="let openingTime of openingTimes">
          <td class="td-right-align">{{openingTime.day}}</td>
          <td class="td-left-align">{{openingTime.open}}-{{openingTime.close}}</td>
        </tr>
        <!-- <tr>
          <td class="td-right-align">Monday-Thursday</td>
          <td class="td-left-align">17:00-21:00</td>
        </tr>
        <tr>
          <td class="td-right-align">Friday</td>
          <td class="td-left-align">16:30-22:00</td>
        </tr>
        <tr>
          <td class="td-right-align">Saturday</td>
          <td class="td-left-align">16:30-23:00</td>
        </tr>
        <tr>
          <td class="td-right-align">Sunday</td>
          <td class="td-left-align">17:00-21:30</td>
        </tr> -->
      </tbody>
    </table>
  </div>
</div>
