body {
    font-family: Verdana, sans-serif;   
    height: 100%;
    margin: 0;
    }
    
header {
    background-color: #005BAB;
    position: relative;
}
    
header img {
    display: block;
    height: 3em;
}

nav {
    width: 80%;
    margin: 0 auto;
}

nav ul {
    text-align: center;
    margin: 0;
    padding: 1em 0;
    list-style: none;
}

nav li {
    margin: 1%;
}

nav a {
    color: #005BAB;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    background-color: white;
    padding: 0.5em 1em;
    font-weight: bold;
    border-radius: 2px;
}

nav a:hover {
    text-decoration: underline;
}

form ul {
    list-style: none;
    padding: 0;
}

form li {
    margin: 5px 0;
}

form label {
    display: inline-block;
    width: 150px;
    text-align: right;
}

header h1 {
    margin-top: 0;
    background-size: cover; 
    padding: 4em 1em; 
    color: white;
}

.header {
    text-transform: uppercase;
}

.keyboard {
    background-image: url(../images/keyboard.jpg);
}

.team {
    background-image: url(../images/theTeam.jpg);
}

.trainer {
    background-image: url(../images/trainer.jpg);
}

.course {
    background-image: url(../images/trainingCourses.jpg);
}

nav > h6 {
    display: none;
}

main {
    width: 80%;
    margin: 0 auto;
}

.profilePics {
    float: left;
}

.thumbnailPics {
    width: 90px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: -webkit-filter 1s, filter 1s;
    float: left;
}

.thumbnailPics:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    cursor: pointer;
}

.teamProfiles {
    transition: -webkit-filter 1s, filter 1s;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.teamProfiles:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

button.next {
    float: right;
    text-decoration: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
}

button.next:after {
    content: ">>"
}

button.prev {
    float: left;
    text-decoration: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
}

button.prev:before {
    content: "<<";
}

.socialIcons {
    height: 50%;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
}

.socialIcons:hover {
    cursor: pointer;
    -webkit-transform: translateY(-50%) scale(1.2);
    -ms-transform: translateY(-50%) scale(1.2);
    transform: translateY(-50%) scale(1.2);
}

footer {
    height: 3em;
    text-align: center;
    background-color: #005BAB;
    clear: both; /* fix for courses.html where we have numerous floated items */
}

[data-qa-courses] table {
    display: inline-block;
    margin: 2em;
}

[data-qa-courses] table td:first-child {
    font-weight: bold;
    text-align: right;
}

[data-qa-courses] table td:first-child:after {
    content: ":";
}