<h2>Todo List</h2>
<ol>
  <li *ngFor="let todo of todos$ | async">
    <a [routerLink]="['/todo/tododetails', todo.id]" routerLinkActive="active">
      {{todo.todoDetail}}
    </a>
  </li>
</ol>
<router-outlet></router-outlet>
