<div class="container">
  <h1>Opening Hours</h1>
  <div class="table-responsive" *ngIf="!displayAppError && !displayServerError">
    <table class="table table-borderless">
      <tbody>
        <tr *ngFor="let openingTime of openingTimes">
          <td class="td-right-align">{{openingTime.day}}</td>
          <td class="td-left-align">{{openingTime.open}}-{{openingTime.close}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="displayAppError || displayServerError">
    <div *ngIf="displayAppError">
      <h3>Ooops...Our projector seems unable to display this information</h3>
      <p>Please try to refresh the page to clear the error</p>
    </div>
    <div *ngIf="displayServerError">
      <h3>Ooops...We seem to have misplaced the film reel for that information!</h3>
      <p>Please try again later</p>
    </div>
  </div>
</div>
