<div class="container">
  <img src="./assets/Locations.jpg" style="width:100%" class="img-fluid" alt="QA Schedule image">
</div>
<app-cinema-opening-times></app-cinema-opening-times>
<app-cinema-whatson></app-cinema-whatson>