<div class="container">
  <h1>What's on</h1>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Title</th>
          <th>Time</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let film of films">
          <td>{{film.title}}</td>
          <td>{{film.showingTimes}}</td>
          <td><img src={{[film.img]}} class="img-thumbnail"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
