<h2>Using a Service to add data</h2>
<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <fieldset>
    <label for="firstname">First name: </label>
    <input type="text" id="firstname" name="firstname" formControlName="firstname">
  </fieldset>
  <fieldset>
    <label for="surname">Surname: </label>
    <input type="text" id="surname" name="surname" formControlName="surname">
  </fieldset>
  <fieldset>
    <label for="age">Age: </label>
    <input type="number" id="age" name="age" formControlName="age">
  </fieldset>
  <fieldset>
    <label for="gender">Gender: </label>
    <select name="gender" id="gender" formControlName="gender">
      <option *ngFor="let gender of genders" [value]="gender">{{gender}}</option>
    </select>
  </fieldset>
  <button type="submit" [disabled]="!userForm.valid">Submit</button>
</form>
<hr>
<p *ngIf="addUserError">Previous user submitted was not added due to an error</p>
