<p>
  my-first-component works!
</p>
<h2>A heading of type h2</h2>
<p>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit.
  Modi voluptatibus odit, nihil impedit nostrum perferendis
  aspernatur placeat recusandae aut quam.
</p>
<p id="normal">
  {{paraText}}
</p>

<h1 [class]="myClasses">{{title}}</h1>

<img [src]="imgUrl" alt="QA Logo" />

<p [class.red]="true">
  Lorem ipsum dolor sit, amet consectetur adipisicing elit.
  Numquam dolores sed quibusdam facilis earum rem cumque quae
  natus in obcaecati assumenda aliquam veritatis, officia,
  vitae delectus optio, nihil facere accusantium ducimus est
  accusamus tempora voluptates! Aliquid eligendi consequatur
  itaque suscipit ipsam quis, libero corporis saepe, odit
  voluptas distinctio pariatur reiciendis!
</p>

<p [style.background-color]="selected ? 'deepskyblue' : 'limegreen'">
  Lorem, ipsum dolor sit amet consectetur adipisicing elit.
  Reprehenderit suscipit repudiandae molestias eius, fugiat
  fugit omnis deserunt, commodi illum amet ipsum iure quo
  iusto officiis dolores et beatae, dolore placeat. Saepe
  inventore eveniet odit repudiandae provident autem illo
  enim possimus animi dicta quisquam facere quas quis,
  veniam necessitatibus fuga tempora!
</p>

<button (click)="selected = !selected">Flip Selected</button>
<br />
<input type="text" [(ngModel)]="inputtedText">
<p id="userReflection">{{inputtedText}}</p>

<!-- Put 4a code below -->
