h2 {
    color: hotpink;
}

h2 + p:not(#normal) {
    background-color: midnightblue;
    color: white;
    font-family: sans-serif;
}

.red {
    color: red;
}

.right {
    float: right;
}

.underlined {
    border-bottom: 2px solid blue;
}

.selected {
    background: lightcoral;
}

.valid {
    background: lightgreen;
}