<h1>{{title}}</h1>
<hr>
<form>
  <fieldset>
    <label for="firstname">First name: </label>
    <input type="text" id="firstname" name="firstname">
  </fieldset>
  <fieldset>
    <label for="surname">Surname: </label>
    <input type="text" id="surname" name="surname">
  </fieldset>
  <fieldset>
    <label for="age">Age: </label>
    <input type="number" id="age" name="age">
  </fieldset>
  <fieldset>
    <label for="gender">Gender: </label>
    <select name="gender" id="gender">
      <option *ngFor="let gender of genders" [value]="gender">{{gender}}</option>
    </select>
  </fieldset>
  <button type="submit">Submit</button>
</form>
