<p>Today's date is {{today | date: "MMMM dd yyyy"}}</p>
<ul>
  <li *ngFor="let word of words$ | async">{{word | uppercase}}</li>
</ul>
<p><span *ngFor="let word of words$ | async">{{word | wordSeparator }}</span></p>
