<div class="container">
  <h1>What's on</h1>
  <div class="table-responsive" *ngIf="!displayAppError && !displayServerError">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Date</th>
          <th>Time</th>
          <th>Title</th>
          <th>Runtime</th>
          <th>Rating</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let film of films">
          <td>{{film.date}}</td>
          <td>{{film.time}}</td>
          <td>{{film.title}}</td>
          <td>{{film.runtime}} min</td>
          <td>{{film.rating}}</td>
          <td><img [src]="film.imgUrl" class="thumbnail" /></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="displayAppError">
      <h3>Ooops...Our projector seems unable to display this information</h3>
      <p>Please try refreshing the page</p>
    </div>
    <div *ngIf="displayServerError">
      <h3>Ooops...We seem to have misplaced the film reel for that information!</h3>
      <p>Please try again later</p>
    </div>
</div>