input.ng-dirty.ng-invalid,
input.ng-touched.ng-invalid {
  border: 2px solid red;
}

input.ng-dirty.ng-valid {
  border: 2px solid green;
}

div.validationMessage {
  border: 2px solid red;
  color: red;
  background-color: lightpink;
  margin-top: 3px;
}
