<h1>{{title}}</h1>
<hr>
<!-- <form>
  <fieldset>
    <label for="firstname">First name: </label>
    <input type="text" id="firstname" name="firstname" [(ngModel)]="firstname" #ngclasses #propVals="ngModel" required
      minlength="2">
    <div class="validationMessage" [hidden]="(propVals.valid && propVals.dirty) || propVals.untouched">
      Name is invalid.
    </div>
    <div>
      <p>Classes: {{ngclasses.className}}</p>
      <p>Valid property: {{propVals.valid}}</p>
      <p>Invalid property: {{propVals.invalid}}</p>
      <p>Dirty property: {{propVals.dirty}}</p>
      <p>Pristine property: {{propVals.pristine}}</p>
      <p>Touched property: {{propVals.touched}}</p>
      <p>Untouched property: {{propVals.untouched}}</p>
    </div>
  </fieldset>
  <fieldset>
    <label for="surname">Surname: </label>
    <input type="text" id="surname" name="surname" [(ngModel)]="surname" required>
  </fieldset>
  <fieldset>
    <label for="age">Age: </label>
    <input type="number" id="age" name="age" [(ngModel)]="age">
  </fieldset>
  <fieldset>
    <label for="gender">Gender: </label>
    <select name="gender" id="gender" [(ngModel)]="gender">
      <option *ngFor="let gender of genders" [value]="gender">{{gender}}</option>
    </select>
  </fieldset>
  <button type="submit">Submit</button>
</form> -->
<!-- <hr>
<h1>Outputs</h1>
<p>firstname = {{firstname}}</p>
<p>surname = {{surname}}</p>
<p>age = {{age}}</p>
<p>gender = {{gender}}</p> -->


<form #myForm="ngForm" (ngSubmit)="onSubmit()">
  <fieldset>
    <label for="firstname">First name: </label>
    <input type="text" id="firstname" name="firstname" [(ngModel)]="user.firstname" #propVals="ngModel" required
      minlength="2">
    <div class="validationMessage" [hidden]="(propVals.valid && propVals.dirty) || propVals.untouched">
      Name is invalid.
    </div>
  </fieldset>
  <fieldset>
    <label for="surname">Surname: </label>
    <input type="text" id="surname" name="surname" [(ngModel)]="user.surname" required>
  </fieldset>
  <fieldset>
    <label for="age">Age: </label>
    <input type="number" id="age" name="age" [(ngModel)]="user.age">
  </fieldset>
  <fieldset>
    <label for="gender">Gender: </label>
    <select name="gender" id="gender" [(ngModel)]="user.gender">
      <option *ngFor="let gender of genders" [value]="gender">{{gender}}</option>
    </select>
  </fieldset>
  <button type="submit" [disabled]="!myForm.form.valid">Submit</button>
</form>
