<div class="container">
  <h1>What's on</h1>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Date</th>
          <th>Time</th>
          <th>Title</th>
          <th>Runtime</th>
          <th>Rating</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let film of films">
          <td>{{film.date}}</td>
          <td>{{film.time}}</td>
          <td>{{film.title}}</td>
          <td>{{film.runtime}} min</td>
          <td>{{film.rating}}</td>
          <td><img [src]="film.imgUrl" class="thumbnail" /></td>
        </tr>
        <!-- <tr>
          <td rowspan="2">01-Oct-2018 Monday</td>
          <td>17:30</td>
          <td rowspan="2">King of Thieves</td>
          <td rowspan="2">108 min</td>
          <td rowspan="2">15</td>
          <td rowspan="2"><img src="./assets/KingOfThieves.jpg" class="img-thumbnail" /></td>
        </tr>
        <tr>
          <td>20:00</td>
        </tr>
        <tr>
          <td>02-Oct-2018 Tuesday</td>
          <td>17:30</td>
          <td>The Predator</td>
          <td>101 min</td>
          <td>15</td>
          <td><img src="./assets/ThePredator.jpg" class="img-thumbnail" /></td>
        </tr>
        <tr>
          <td>02-Oct-2018 Tuesday</td>
          <td>20:00</td>
          <td>The House with a Clock in its Walls</td>
          <td>105 min</td>
          <td>12 A</td>
          <td><img src="./assets/TheHouse.jpg" class="img-thumbnail" /></td>
        </tr> -->
      </tbody>
    </table>
  </div>
</div>