<header class="container sticky-top" id="qa-navbar">
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="https://qa.com"><img src="./assets/qalogo.svg" width="100"/></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" href="#home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#schedule">Schedule</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#signup">Sign up</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
