<h2>Using a Service to retrieve data</h2>
<table *ngIf="!error && !loading">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Surname</th>
      <th>Age</th>
      <th>Gender</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{user.firstname}}</td>
      <td>{{user.surname}}</td>
      <td>{{user.age}}</td>
      <td>{{user.gender}}</td>
    </tr>
  </tbody>
</table>
<p *ngIf="error">{{errorText}}</p>
<p *ngIf="loading">Please wait...loading...</p>
