td,
th {
  text-align: center;
}

form {
  padding-top: 20px;
}

.td-right-align {
  text-align: right;
}

.td-left-align {
  text-align: left;
}

.invalid {
  border-color: #f00;
}

.msgcontent {
  color: #f00;
}
