<div class="container">
  <form name="signUpForm" id="signUpForm" [formGroup]="newUserForm" (ngSubmit)="onSubmit($event)">
    <div class="form-group row">
      <label for="title" class="col-sm-2 col-form-label">Title *</label>
      <div class="col-sm-8">
        <select required class="form-control" id="title" formControlName="title">
          <option disabled selected value>-- select an option --</option>
          <option *ngFor="let title of titles" [value]="title.value">{{title.text}}</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2"></label>
      <div class="col-sm-8 msgcontent" id="msgTitle" *ngIf="newUserForm.controls['title'].errors && newUserForm.dirty">Please enter a value from the list</div>
    </div>
    <div class="form-group row">
      <label for="firstName" class="col-sm-2 col-form-label">First Name *</label>
      <div class="col-sm-8">
        <input type="text" required class="form-control" id="firstName" placeholder="First Name" formControlName="firstName">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2"></label>
      <div id="msgFirstName" class="col-sm-8 msgcontent" *ngIf="firstNameValidity.presence">A name is required</div>
      <div id="msgFirstName" class="col-sm-8 msgcontent" *ngIf="firstNameValidity.chars">Only letters are allowed in a name</div>
      <div id="msgFirstName" class="col-sm-8 msgcontent" *ngIf="firstNameValidity.length">There must be at least 2 characters in a name</div>
    </div>
    <div class="form-group row">
      <label for="lastName" class="col-sm-2 col-form-label">Last Name *</label>
      <div class="col-sm-8">
        <input type="text" required class="form-control valid" id="lastName" placeholder="Last Name" formControlName="lastName">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2"></label>
      <div id="msgLastName" class="col-sm-8 msgcontent" *ngIf="lastNameValidity.presence">A name is required</div>
      <div id="msgLastName" class="col-sm-8 msgcontent" *ngIf="lastNameValidity.chars">Only letters are allowed in a name</div>
      <div id="msgLastName" class="col-sm-8 msgcontent" *ngIf="lastNameValidity.length">There must be at least 2 characters in a name</div>
    </div>
    <div class="form-group row">
      <label for="email" class="col-sm-2 col-form-label">Email *</label>
      <div class="col-sm-8">
        <input type="email" required class="form-control valid" id="email" placeholder="john.doe@email.com" formControlName="email">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2"></label>
      <div id="msgEmail" class="col-sm-8 msgcontent" *ngIf="emailValidity.presence">An email address is required</div>
      <div id="msgEmail" class="col-sm-8 msgcontent" *ngIf="emailValidity.chars">Not a recognised email format, it must have an '@' symbol and at least one '.' after it</div>
      <div id="msgEmail" class="col-sm-8 msgcontent" *ngIf="emailValidity.length">There must be at least 5 characters in an email address including an '@' symbol and at least one '.' after it</div>
    </div>
    <div class="form-group row">
      <label for="phoneNumber" class="col-sm-2 col-form-label">Phone Number</label>
      <div class="col-sm-8">
        <input type="text" pattern="(0)[0-9]{10}" min="11" max="12" class="form-control" id="phoneNumber" placeholder="1234567890" formControlName="phoneNumber">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2"></label>
      <div class="col-sm-8"></div>
    </div>
    <div class="form-group row">
      <label for="dob" class="col-sm-2 col-form-label">Date of Birth</label>
      <div class="col-sm-8">
        <input type="date" class="form-control" id="dob" formControlName="dob">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2"></label>
      <div class="col-sm-8"></div>
    </div>
    <div class="form-group row">
      <label for="dob" class="col-sm-2 col-form-label"></label>
      <div class="col-sm-8">
        <div class="form-check" *ngFor="let gender of genders">
            <input class="form-check-input" type="radio" name="genderRadios" [value]="gender.value" formControlName="genderRadios">
            <label class="form-check-label" for="gender.value"> {{gender.text}} </label>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2"></label>
      <div class="col-sm-8">
        <button type="submit" [disabled]="!newUserForm.valid" [className]="newUserForm.valid ? 'btn btn-success mb-2' : 'btn btn-danger mb-2'">Sign me up!</button>
      </div>
    </div>
  </form>
</div>
